*{
    margin: 0px;
    padding: 0px;
}

img{
    height: 30px;
    vertical-align: middle;
    width: 30px;
    padding-right: 7px;
    object-fit: cover;

}
.flip{
    height: 65px;
    width: 160px;
    object-fit: cover;
    padding-left: 40px;
}
#search{
    height:60px ;
    width: 600px;
    border-radius: 10px;
    border-width: inherit;
    background-color: rgba(189, 228, 246, 0.856);
    font-size: 20px;
    padding-left: 40px;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 25px;
    cursor: pointer;
}
button{
height: 65px;
width:100px;
font-size: 20px;
background-color: white;
border-width: inherit;
color: rgb(82, 80, 80);
cursor: pointer;
}
.home{
    width: 200px;
    margin-left: 40px;

}
.home:hover{
  color: rgb(38, 171, 224);
}
#title,.login info{
    display :inline-block;
}
#lo{
   margin-left: 50px;
   
}
#lo:hover{
  color:  rgb(38, 171, 224);
}
#ad{
    margin-left: 40px;
    
}
#ad:hover{
  color:  rgb(38, 171, 224);
}
#title{
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

#digit{
     height: 120px;
    width: 1200px;
    
    margin-left: 180px;
    cursor: pointer;
    
}
#ss{
    border-color: rgb(122, 116, 116);
    border-width: 1px;
    border-style:groove;
    margin-top: 15px;
    margin-left: 13px;
    margin-right: 13px;
    border-radius: 10px;
    

}
.slideshow-container {
    max-width:1585px ;
    position: relative;
    margin: auto;
  }

  .mySlides {
    display: none;
  }

  .slide-img {
    width: 1535px;
    height: 400px;
    border-radius: 5px;
    cursor: pointer;
  }
  .slide{
    margin-top: 20px;
  }
  .mobilesection{
    height: 500px;
    border-color:gray;
    border-style:groove;
    border-width: 1px;
    margin-top: 10px;
    border-radius: 3px;
  }
  .mobilesection #best{
  font-size: 25px;
  font-weight:700;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(19, 17, 17);
  margin-top: 10px;
  margin-left: 15px;
 
  }
  .ph1,.ph2,.ph3,#p4,.p5{
    border-width: 1px;
    border-style: groove;
    border-color: gray;
    height: 420px;
    width: 275px;
    margin-left: 20px;
    margin-top: 10px;
    display: inline-block;
    border-radius: 5px;
  }
  #hi{
    padding-left: 10px;
    margin-top: 10px;
    height: 330px;
    width: 250px;
    object-position: center;
    object-fit: fill;

  }

  .ph1 p{
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(88, 82, 82);
    margin-top: 10px;
  }
  .ph1 h4{
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    font-family:'Times New Roman', Times, serif;
  }
  .ph2 p{
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(88, 82, 82);
    margin-top: 10px;
  }
  .ph2 h4{
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    font-family:'Times New Roman', Times, serif;
  }
  .ph3 p{
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(88, 82, 82);
    margin-top: 10px;
  }
  .ph3 h4{
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    font-family:'Times New Roman', Times, serif;
  }
  #p4 p{
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(88, 82, 82);
    margin-top: 10px;
  }
  #p4 h4{
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    font-family:'Times New Roman', Times, serif;
  }
  .p5 p{
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(88, 82, 82);
    margin-top: 10px;
  }
  .p5 h4{
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    font-family:'Times New Roman', Times, serif;
  }
  .promotion img{
    height: 300px;
    width: 500px;
    object-fit: fill;
    padding-left: 2px;
    border-radius: 2px;
  }
  .promotion{
    margin-top: 20px;
  }
  .promotion img{
    cursor: pointer;
  }
 
 .top{
  margin-top: 20px;
  border-width: 1px;
  border-color: rgb(152, 151, 151);
  border-style: groove;
  height: 400px;

 }
 .top,.special{
  font-size: 25px;
  font-weight:700;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(19, 17, 17);
margin-left: 15px;
margin-top: 20px;
  
 }
 #hi:hover{
  transform: scale(1.05);
  cursor: pointer;
 }

 #b1 {
  border-width: 1px;
  border-color: black;
  border-style: groove;
  height: 300px;
  width: 230px;  
  margin-left: 40px;
 }
 #b2{
  border-width: 1px;
  border-color: black;
  border-style: groove;
  height: 300px;
  width: 230px;
  margin-left: 8px;
 }
 #b3{
  border-width: 1px;
  border-color: black;
  border-style: groove;
  height: 300px;
  width: 230px;
  margin-left: 8px;
 }
 #b4{
  border-width: 1px;
  border-color: black;
  border-style: groove;
  height: 300px;
  width: 230px;
  margin-left: 8px;
 }
 #b5{
  border-width: 1px;
  border-color: black;
  border-style: groove;
  height: 300px;
  width: 230px;
  margin-left: 8px;
 }
 #b6{
  border-width: 1px;
  border-color: black;
  border-style: groove;
  height: 300px;
  width: 230px;
  margin-left: 8px;
 }
 #b1,#b2,#b3,#b4,#b5,#b6{
  display: inline-block;
  margin-top: 20px;
  
 }

 #style{
margin-left: 20px;
margin-top: 10px;
width: 190px;
height: 200px;
object-fit: fill;
 }
 #style:hover{
  transform: scale(1.05);
  cursor: pointer;
 }
 
 .top h4{
  font-size:17px ;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 14px;
  
 }
 .top p{
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(103, 99, 99);
  text-align: center;
  margin-top: 15px;

 }

  
 #offer img{
  height: 300px;
  width: 502px;
  object-fit: fill;
  padding-top: 10px;
  cursor: pointer;
  

 }

 .mobile{
  height:500px;
  border-color:gray;
  border-style:groove;
  border-width: 1px;
  margin-top: 10px;
  border-radius: 3px;
 }
 #worst{
  font-size: 25px;
  font-weight:700;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(19, 17, 17);
  margin-top: 10px;
  margin-left: 15px;
 }


 .ss1{
  border-width: 1px;
  border-color: gray;
  border-style: groove;
  height: 400px;
  width: 290px;

 }
 .ss2{
  border-width: 1px;
  border-color: gray;
  border-style: groove;
  height: 400px;
  width: 290px;

 }
 .ss3{
  border-width: 1px;
  border-color: gray;
  border-style: groove;
  height: 400px;
  width: 290px;

 }
 .ss4{
  border-width: 1px;
  border-color: gray;
  border-style: groove;
  height: 400px;
  width: 290px;

 }
 .ss5{
  border-width: 1px;
  border-color: gray;
  border-style: groove;
  height: 400px;
  width: 290px;

 }
 .ss1,.ss2,.ss3,.ss4,.ss5{
  display: inline-block;
  margin-left: 10px;
  margin-top: 30px;
 }
 #indi{
  margin-left: 20px;
margin-top: 30px;
width: 250px;
height: 230px;
object-fit: fill;
 }
 #indi{
  cursor: pointer;
 }
 #indi:hover{
  transform: scale(1.05);
 }
 .ss1  p{
  font-size: 25px;
  text-align: center;
  color: rgb(77, 75, 75);
  margin-top: 20px;
 }
 .ss1 h6{
  font-size:20px ;
  color: rgba(10, 118, 30, 0.726);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 15px;

 }
 .ss2  p{
  font-size: 25px;
  text-align: center;
  color: rgb(77, 75, 75);
  margin-top: 20px;
 }
 .ss2 h6{
  font-size:20px ;
  color: rgba(10, 118, 30, 0.726);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 15px;

 }
 .ss3  p{
  font-size: 25px;
  text-align: center;
  color: rgb(77, 75, 75);
  margin-top: 20px;
 }
 .ss3 h6{
  font-size:20px ;
  color: rgba(10, 118, 30, 0.726);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 15px;

 }
 .ss4  p{
  font-size: 25px;
  text-align: center;
  color: rgb(77, 75, 75);
  margin-top: 20px;
 }
 .ss4 h6{
  font-size:20px ;
  color: rgba(10, 118, 30, 0.726);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 15px;

 }
 .ss5  p{
  font-size: 25px;
  text-align: center;
  color: rgb(77, 75, 75);
  margin-top: 20px;
 }
 .ss5 h6{
  font-size:20px ;
  color: rgba(10, 118, 30, 0.726);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 15px;

 }

 

#end{
  margin-top: 20px;
  border-width: inherit;
  border-style: groove;
  border-color: gray;
  background-color: rgba(7, 6, 6, 0.887);
  height: 400px;

  
}
#about p{
  color:rgb(144, 135, 135);
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 15px;

}
#about h2{
  
  color:white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height:24px ;
}
#about h2:hover{
  cursor: pointer;
  text-decoration: underline;
}
#group p{
  color:rgb(144, 135, 135);
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 15px;
  
}
#group h2{
  
  color:white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height:24px ;
}
#group h2:hover{
  cursor: pointer;
  text-decoration: underline;
}
#help p{
  color:rgb(144, 135, 135);
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 15px;
  
}
#help h2{
  
  color:white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height:24px ;
}
#help h2:hover{
  cursor: pointer;
  text-decoration: underline;
}
#about,#help,#group,#policy,#register,#mail{
  display: inline-block;
  vertical-align: top;
  margin-left: 25px;
  margin-top: 30px;
}
#policy p{
  color:rgb(144, 135, 135);
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 15px;
  
}
#policy h2{
  
  color:white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height:24px ;
}
#policy h2:hover{
  cursor: pointer;
  text-decoration: underline;
}
#mail p{
  color:rgb(144, 135, 135);
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 15px;
  
}
#mail h2{
  
  color:white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height:24px ;
}
#mail h2:hover{
  cursor: pointer;
  text-decoration: underline;
}
#register p{
  color:rgb(144, 135, 135);
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 15px;
  
}
#register h2{
  
  color:white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height:24px;
}
#register h2:hover{
  cursor: pointer;
  text-decoration: underline;
}
.gg{
  margin-top: 60px;
}
#a,#b,#c,#d,#e,#f{
  color: white;
  display: inline-block;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;

}
#last{
  margin-left: 20px;
  margin-top: 40px;
}
#a{
  margin-left: 20px;
}
#a:hover{
  text-decoration: underline;
  cursor: pointer;
}
#b{
  margin-left: 30px;
}
#b:hover{
  text-decoration: underline;
  cursor: pointer;
}
#c{
  margin-left: 30px;
}
#c:hover{
  text-decoration: underline;
  cursor: pointer;
}
#d{
  margin-left: 30px;
}
#d:hover{
  text-decoration: underline;
  cursor: pointer;
}
#e{
  margin-left: 30px;
}
#e:hover{
  text-decoration: underline;
  cursor: pointer;
}
#f{
  width: 600px;
  height: 50px;
  margin-left: 90px;
}